:root{
    --main-color-theme: #f0f2f5;
    --main-color-icon: #54656f;
    --main-color-border: #e9edef;
    --main-color-black: black;
    --main-color-white: #ffffff;
    --main-color-notifications: #25d366;
    --main-color-time: #3ab269;
    --main-color-archives: #00a884;
    --main-color-conversations: #111b21;
    --main-color-conversations-content: #3b4a54;
    --main-color-conversations-background: #f5f6f6;
    --main-color-title: #41525d;
    --main-color-home-footer: #25d366;
    --main-color-search: #46a392;
    --main-color-ArrowLeft-search: #00a884;
    --main-color-no-results: #8696a0;
    --main-color-vue: #33c0ff;
    --main-color-progress-bars: #b0ceae;
    --main-color-button-play-pause-microphone: #6f8171;
    --main-color-bg-message-send: #d9fdd3;
    --main-color-text-message-send: #111b21;
    --main-color-hours-message-send-receive: #667781;
    --main-color-icon-message: #54656f;
    --main-color-bg-1x: #96b1a1;
    --main-color-text-1x: #f0ffe4;
    --main-color-audio-time: #667781;
    --main-color-audio-duration: #9bb0ac;
    --main-color-message-send-content: #06cf9c;
    --main-color-message-send: #d1f4cc;
    --border-list: #e9edef;
    --black-rgb : 11,20,26;
    --white-rgb : 255,255,255;
    --shadow-rgb: 11,20,26;
    --header-icon: #e0e2e5;
    --intro-secondary: #667781;
    --secondary-lighter: #8696a0;
    --conversation-header-border: #d1d7db;
    --panel-header-background: #f0f2f5;
    --bubble-meta: #667781;
    --ptt-gray-badge: rgba(84,101,111,0.5);
    --rich-text-panel-background:#f0f2f5;
    --border-stronger:#e9edef;
    --panel-background-colored : #008069;
    --primary-strong: #1111b21;
    --secondary: #667781;
    --background-default-hover: #f5f6f6;
    --primary-strong: #111b21;
    --shadow-light: rgba(11,20,26,0.08);
    --shadow-rgb: 11,20,26;
}