/******** BACKGROUND-STYLE ***************/

.background-style {
    background-color: #dfdfdd;
    height: 100vh;
}

.background-green {
    width: 100%;
    background-color: #00a884;
    height: 122px;
}



/******** CONTAINER-HOME ***************/
.container-home {
    height: 95vh;
    grid-template-columns: 410.4px calc(90vw - 410.4px);
    /* grid-template-columns: 410.4px calc(100vw - 410.4px); /*955.6px*/
    grid-template-rows: 1fr;
    grid-template-areas: "aside-left content";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
}

#aside-left {
    grid-area: aside-left;
    background-color: var(--main-color-white);
    /* border: 1px solid var(--main-color-border); */
}
#aside-home {
    border-right: 1px solid var(--main-color-border);
}

.content {
    grid-area: content;
    background-color: var(--main-color-theme);
    overflow-y: auto;
    height: 100%;
}

/******** ASIDE-LEFT ***************/
.menu-page,
.contact-list {
    cursor: pointer;
}

#settings,
#profile,
#contact,
#etiquette {
    height: 100%;
}

#settings {
    /* background-color: red; */
}

#profile {
    background-color: orange;
}

#contact {
    background-color: gray;
}

#etiquette {
    background-color: gray;
}


/******** CONTENT ***************/
#Accueil {
    background-color: yellow;
}

/* #Messages {
    background-color: orange;
} */

#Archives {
    background-color: gray;
}

/******** ASIDE-LEFT-TOP ***************/

.aside-left-top {
    background-color: var(--main-color-theme);
    border: 1px solid var(--main-color-border);
    border-right: none;
    padding: 10px 16px;
    width: 100%;
    height: 59px;
    box-sizing: border-box;
    border-bottom: 0;
    border-top: 0;
}

.menu {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-lists {
    position: absolute;
    right: 7px;
    top: 29px;
    width: 265px;
    max-width: 340px;
    height: 258px;
    padding: 9px 0;
    background-color: var(--main-color-white);
    border-radius: 3px;
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb), .26), 0 2px 10px 0 rgba(var(--shadow-rgb), .16);
    box-sizing: border-box;
    line-height: 14.5px;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.5s cubic-bezier(0.6, 0, 0.435, 0.045),
        opacity 0.5s cubic-bezier(0.6, 0, 0.435, 0.045);
    opacity: 0;

}

.menu-lists.show {
    transform: scale(1);
    opacity: 1;
    transform-origin: top right;
}

.menu-lists li {
    padding-right: 58px;
    padding-left: 24px;
    text-overflow: ellipsis;
    height: 40px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--main-color-icon);
}

.menu-lists li:hover {
    background-color: var(--main-color-theme);
}

.profile-picture {
    height: 40px;
}

.profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-infos {
    height: 40px;
    width: 375.4px;
}

.user-infos img {
    cursor: pointer;
}

.user-icons {
    height: 40px;
}

.user-icons>div {
    padding: 8px;
    width: 24px;
    height: 24px;
}


/******** ASIDE-LEFT-CONTENT ***************/
.search-bar {
    height: 49px;
    border: 1px solid var(--main-color-border);
    border-right: none;
    padding-left: 12px;
    box-sizing: border-box;
    border-top: 0;
}

.search-icon {
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 10px;
    width: 24px;
    height: 24px;
    background-image: url('/assets/images/accueil/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-340deg);
    transition: transform 0.3s ease-in-out;
}

.search-icon.transform {
    cursor: pointer;
    transform: rotate(-360deg);
    background-image: url('/assets/images/accueil/icons/arrow-left.svg');
}

.bars-icon {
    height: 35px;
    flex: 0.95;
    background-color: var(--main-color-theme);
    border-radius: 8px;
    justify-content: space-around;
}

.bars-icon>input {
    width: 256.4px;
    height: 22.05px;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    background-color: var(--main-color-theme);
    font-size: 0.85rem;
}

.no-results {
    display: flex;
    padding: 72px 50px;
    justify-content: center;
    align-items: center;
    color: var(--main-color-no-results);
    font-size: 14px;
}

.no-results-more {
    padding: 22px 16px 12px;
    border-top: 1px solid var(--border-list);
    box-sizing: border-box;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--secondary-lighter);
}

.archives-conversations {
    overflow-y: auto;
    /* height: calc(100vh - 110px); */
    height: calc(95vh - 110px);
    scrollbar-color: rgba(var(--black-rgb), .2) rgba(var(--white-rgb), .1);
    scrollbar-width: thin;
    overflow-x: hidden;
}

.archives {
    min-height: 49px;
    max-height: 72px;
    font-size: 17px;
    color: var(--main-color-conversations);
    padding: 0 0px 0 19px;
    box-sizing: border-box;
    margin-right: 8px;
}

.archives:hover {
    background-color: var(--main-color-conversations-background);
}

.archives-messages {
    margin: 0 10px;
    height: 49px;
    align-items: center;
    border-bottom: 1px solid var(--main-color-border);
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.archives-content {
    font-size: 1.1rem;
}

.archives-number.actives {
    color: var(--main-color-notifications);
}

.contact-items .contact-item:last-child {
    margin-bottom: 20px;
}

.contact-item {
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 13px;
    margin-right: 8px;
}

.contact-item:hover {
    background-color: var(--main-color-conversations-background);
}

.contact-time-icon>img {
    position: relative;
    right: -25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

.contact-time-icon>img.arrow-active {
    opacity: 1;
    visibility: visible;
    right: 0;
}


.profile-picture-item {
    height: 49px;
}

.profile-picture-item img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

.contact-details {
    padding: 16px 0;
    border-bottom: 1px solid var(--main-color-border);
}

.contact-message,
.contact-time {
    color: var(--main-color-conversations-content);
}

.contact-time-icon {
    text-align: center;
}

.contact-time-icon,
.contact-infos {
    height: 40px;
}

.return {
    cursor: pointer;
}

.return:hover {
    color: white;
    font-weight: bold;
}

/********* CONTENT HOME ***************/

#content-home {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.home-elements {
    flex: 1;
    margin: 78px auto 0 auto;
    width: 80%;
    max-width: 560px;
    color: var(--main-color-conversations-content);
    text-align: center;
    display: flex;
    flex-direction: column;

}

.home-picture {
    flex: 1;
    align-items: end;
    display: flex;
    justify-content: center;
}

.home-picture img {
    width: 360px;
    height: 204.35px;
}

.home-title {
    color: var(--main-color-title);
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    line-height: 37.5px;
    margin-top: 40px;
}

.home-description {
    flex: 1;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--intro-secondary);
}

.home-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: var(--secondary-lighter);
    font-size: 14px;
    line-height: 20px;
    margin-top: 90px;
}

.home-infos img {
    width: 10px;
    height: 12px;
    color: #54656f;
}

.home-footer {
    height: 7px;
    background-color: var(--main-color-home-footer);
}


/***************** MESSAGES *************************/

#Messages {
    background-image: url("/assets/images/message/bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.background-color-messages {
    background-color: rgba(234, 220, 197, 0.4);
    width: 100%;
    height: 100%;
}

.send {
    background-color: var(--main-color-bg-message-send);
    position: relative;
}

.receive {
    background-color: white;
    position: relative;
}

.header-messages {
    border-left: 1px solid var(--conversation-header-border);
    padding: 10px 16px;
    background-color: var(--panel-header-background);
    box-sizing: border-box;
    width: 100%;
    height: 59px;
}

.header-messages-bloc-2 {
    justify-content: end;
}

.body-messages {
    overflow-y: auto;
    /* height: calc(100vh - 121.05px); */
    height: calc(95vh - 121.05px);
    scrollbar-color: rgba(var(--black-rgb), .2) rgba(var(--white-rgb), .1);
    scrollbar-width: thin;
    overflow-x: auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.body-messages::-webkit-scrollbar {
    height: 10px;
}

.contact-name-m {
    padding-left: 15px;
}

.icon-search {
    margin: 0 15px;
}

.icon-search,
.icon-menu {
    padding: 8px;
}

.profile-picture-audio {
    height: 55px;
}

.profile-picture-audio img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.message-bloc-contain {
    width: 100%;
    margin: 12px 0;
    box-sizing: border-box;
    display: flex;
    font-size: 14.2px;
}
.message-bloc-contain.start {
    justify-content: flex-start;
}
.message-bloc-contain.end {
    justify-content: flex-end;
}

.message-bloc-contain.m-12-4 {
    margin: 12px 0 3px 0;
}

.message-bloc-contain.m-4 {
    margin: 3px 0;
}

.message-bloc-contain.m-last {
    margin-bottom: 50px;
}

.message-bloc-contain.m-t-4 {
    margin-top: 4px;
}

.message-bloc-contain.m-b-4 {
    margin-bottom: 4px;
}

.message-bloc {
    max-width: 528px;
    padding: 6px 7px 8px 9px;
    box-sizing: border-box;
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb), .13);
    border-radius: 7.5px;
    border-top-left-radius: 0;
    border-left: 1px solid white;
    z-index: 200;
}


.message-bloc.b-r-7-5 {
    border-top-left-radius: 7.5px;
}

.message-bloc-content {
    text-align: justify;
}

.icon-arrow-time {
    flex-direction: column;
}

.icon-caret-left {
    left: -17.5px;
    position: absolute;
    top: -7.4px;
    z-index: 100;
}

.icon-arrow-bottom>img {
    position: absolute;
    right: -20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.9);
}

.icon-arrow-bottom>img.m-active {
    right: -10px;
    opacity: 1;
    visibility: visible;
}

.message-bloc-s {
    max-width: 528px;
    padding: 6px 7px 8px 9px;
    box-sizing: border-box;
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb), .13);
    border-radius: 7.5px;
    border-top-right-radius: 0;
    border-right: 1px solid var(--main-color-bg-message-send);
    z-index: 200;
}

.message-bloc-s.b-l-r-7 {
    border-top-right-radius: 7.5px;
}

.icon-arrow-bottom-s>img {
    position: absolute;
    top: -2px;
    right: -15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--main-color-bg-message-send);
    border-radius: 50px;
    box-shadow: 1px 1px 9px rgba(217, 253, 211, 0.9);
}

.icon-arrow-bottom-s>img.m-active {
    right: -5px;
    opacity: 1;
    visibility: visible;
}

.message-time {
    align-items: end;
    color: var(--bubble-meta);
    font-size: 0.8rem;
}

.audio-bloc {
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 7.5px;
    border-top-right-radius: 0;
    border-right: 1px solid var(--main-color-bg-message-send);
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb), .13);
}

.icon-microphone {
    right: 1px;
    top: 31px;
}

.icon-caret-right {
    right: -8.8px;
    position: absolute;
    top: -1.2px;
    z-index: 100;
}

.icon-caret-right-s {
    right: -47.8px;
    position: absolute;
    top: -7px;
    z-index: 100;
}

.icon-arrow-bottom-audio>img {
    position: absolute;
    top: -32px;
    right: -6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--main-color-bg-message-send);
    border-radius: 50px;
    box-shadow: 1px 1px 9px rgba(217, 253, 211, 0.9);
}

.icon-arrow-bottom-audio>img.m-active {
    right: 8px;
    opacity: 1;
    visibility: visible;
}

#playButton {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

#pauseButton {
    cursor: pointer;
}

.reading-speed {
    width: 48px;
    height: 23px;
    background-color: var(--ptt-gray-badge);
    font-size: 0.8125rem;
    padding: 2px 5px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    border-radius: 9999px;
    position: relative;
    top: 16px;
}

.audio-duration-time {
    justify-content: space-between;
    padding-left: 17px;
    box-sizing: border-box;
    padding-right: 7px;
    align-items: center;
}

.audio-bars {
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    gap: 10px;
    height: 34px;
}

/* Style pour la barre de progression */
input[type=range] {
    height: 4px;
    width: 86%;
    border: none;
    background-color: var(--main-color-progress-bars);
    cursor: pointer;
}

/* Style pour la valeur de la barre de progression */
input[type=range]::-moz-range-progress {
    background-color: var(--main-color-vue);
    height: 100%;
}

/* Style pour le curseur de la barre de progression */
input[type=range]::-moz-range-thumb {
    background-color: var(--main-color-button-play-pause-microphone);
    border-radius: 70%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    /* border: 1px solid #f2f2f2; */
}

.picture-bloc {
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb), .13);
    border-radius: 7.5px;
}

.picture-message-bloc {
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb), .13);
    border-radius: 7.5px;
}

.picture-send {
    width: 303px;
    height: 80px;
    border-radius: 7.5px;
    padding: 5px;
    cursor: pointer;
}

.picture-send img {
    width: 303px;
    height: 80px;
    border-radius: 7.5px;
}

.picture-content {
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;
}

.message-time-reception {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
}

.message-time.c-white {
    color: var(--main-color-white);
}

.icon-arrow-bottom-p>img {
    position: absolute;
    top: 8px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.icon-arrow-bottom-p>img.m-active {
    right: 12px;
    opacity: 1;
    visibility: visible;
}

.response-message-bloc {
    box-shadow: 0 1px .5px rgba(var(--shadow-rgb), .13);
    border-radius: 7.5px;
    border-top-right-radius: 0;
    border-right: 1px solid var(--main-color-bg-message-send);
    z-index: 200;
    padding: 5px;
}

.icon-caret-right-resp {
    right: -8.8px;
    position: absolute;
    top: -1px;
    z-index: 100;
}

.message-send-content {
    padding-left: 5px;
    background-color: var(--main-color-message-send-content);
    border-radius: 7.5px;
    box-sizing: border-box;
}

.message-send {
    padding-left: 10px;
    padding: 4px 12px 8px 8px;
    cursor: pointer;
    background-color: var(--main-color-message-send);
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.message-send:hover {
    box-shadow: inset -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.sender-name {
    color: var(--main-color-message-send-content);
}

.response {
    padding: 10px;
    box-sizing: border-box;
}

.icon-arrow-bottom-resp>img {
    position: absolute;
    top: 8px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
    cursor: pointer;
}

.icon-arrow-bottom-resp>img.m-active {
    right: 12px;
    opacity: 1;
    visibility: visible;
}

.icon-caret-left-shadow {
    position: absolute;
    right: 9.8px;
    transform: rotate(-270deg);
    top: -23px;
}

.footer-messages {
    height: 62.05px;
    padding: 5px 16px;
    box-sizing: border-box;
    background-color: var(--rich-text-panel-background);
    border-left: 1px solid var(--border-stronger);
    width: 100%;
}

.input-bars input {
    padding: 9px 12px;
    margin: 5px 8px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.input-bars {
    flex: 28;
}

.footer-icons {
    width: 26px;
    margin: 0 8px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-smile img {
    width: 26px;
    height: 26px;
}

/******** PARAMETRES ***************/

/* .page-aside-left{
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}
.page-aside-left.translate{
    transform: translateX(-100%);
} */

.header-settings {
    padding-right: 20px;
    padding-left: 23px;
    background-color: var(--panel-background-colored);
    height: 108px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    line-height: 23px;
    z-index: 200;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
}

.bloc-settings {
    height: 59px;
    display: flex;
    flex: none;
    align-items: center;
    width: 100%;
}

.bloc-settings .return {
    display: flex;
    align-items: center;
    width: 53px;
}

#settings .body-settings {
    background-color: white;
    /* height: calc(100vh - 108px); */
    height: calc(95vh - 108px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(var(--black-rgb), .2) rgba(var(--white-rgb), .1);
    scrollbar-width: thin;
}

.profil-settings {
    height: 113px;
    padding-right: 24px;
    cursor: pointer;
}
.profil-settings:hover {
    background-color: var(--background-default-hover);
}

.picture-profil-settings {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    margin: 16px 0 16px 19px;
    box-sizing: border-box;
}

.picture-profil-settings img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.infos {
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    cursor: pointer;
}

.infos-name {
    font-size: 20px;
    line-height: 28px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    color: var(--primary-strong);
}

.infos-text {
    font-size: 15px;
    line-height: 22px;
    color: var(--secondary);
}
.setting-item{
    height: 60px;
    color: var(--primary-strong);
    font-size: 1.0625rem;
    line-height: 1.2941;
    display: flex;
    cursor: pointer;
}
.setting-item:hover {
    background-color: var(--background-default-hover);
}
.name-item{
    padding-right: 50px;
    border-bottom: 1px solid var(--main-color-border);
    display: flex;
    align-items: center;
    width: calc(404.4px - 74px);
}
.icone-item{
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}




